/* 全局样式 */
/* 所有标签的内外边距清零 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* em 和 i 斜体的文字不倾斜 */
em,
i {
  font-style: normal;
}

/* 去掉 li 的小圆点 */
ul, ol, li {
  list-style: none;
}

img {
  border: 0;
  /* 取消图片底侧有空白缝隙的问题 */
  vertical-align: middle;
}

button {
  /* 当我们鼠标经过button 按钮的时候，鼠标变成小手 */
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover {
  color: #c81623;
}

button,
input {
  font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
}

body {
  /* CSS3 抗锯齿形 让文字显示的更加清晰 */
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;

  /* ElementPlus的黑暗样式 */
  background-color: var(--el-bg-color);
  color: var(--el-text-color-primary);
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
